<div class="card" style="width: 18rem; ">
    <img src="{{img_url}}" class="card-img-top" alt="..." style="max-height: 12rem; object-fit: cover;">
    <div class=" card-body">
        <h5 class="card-title">{{row_1}}</h5>
        <p class="card-text">עלה ב{{date_added}}</p>
        <p class="card-text">כניסה ב<strong>{{date_of_entry}}</strong></p>
        <a href="https://www.yad2.co.il/s/c/{{id}}" target="_blank" class="btn btn-dark">Go somewhere</a>
    </div>
</div>